<h1>Admin#index</h1>

<%= render 'users_rentals_condition', year: 'B3', students_by_year: @b3s %>
<%= render 'users_rentals_condition', year: 'B4', students_by_year: @b4s %>
<%= render 'users_rentals_condition', year: 'M1', students_by_year: @m1s %>
<%= render 'users_rentals_condition', year: 'M2', students_by_year: @m2s %>
