<h1><%= @user.name %>の貸し出し状況</h1>
<% @rental_books.each do |book_id| %>
    <% book = Book.find(book_id.id) %>
    <p><%= book.name %></p>
<% end %>

<h3>貸出修正/追加</h3>

<input type="text" id="form" placeholder="書名を入力してください" style="width: 250px;"/>
<ul id="result" style="display: block; height: 30ex;">

</ul>

<script>
    $(document).on('keyup', '#form', function (e) {
        e.preventDefault();
        var input = $.trim($(this).val());
        $.ajax({
            url: '/api/inc_search',
            type: 'GET',
            data: ('q=' + input),
            processData: false,
            contentType: false,
            dataType: 'json'
        })
        //ここから追記
            .done(function (data) { //データを受け取ることに成功したら、dataを引数に取って以下のことする(dataには@usersが入っている状態ですね)
                $('#result').find('li').remove();  //idがresultの子要素のliを削除する
                $(data).each(function (i, user) { //dataをuserという変数に代入して、以下のことを繰り返し行う(単純なeach文ですね)
                    $('#result').append('<li>' + user.name + '</li>') //resultというidの要素に対して、<li>ユーザーの名前</li>を追加する。
                });
            })
    });
</script>
