<div class="pad-top">
  <div class="hide-on-med-and-down">
    <% @tags.each do |tag, idx| %>
      <div class="chip">
        <%= link_to tag.name, controller: 'books', action: 'search', q: tag.name %>
        <span><%= tag.taggings_count unless action_name == 'show' %></span>
      </div>
    <% end %>
  </div>
</div>
