<footer class="footer hero is-primary">
  <div class="container">
      <div class="content has-text-centered">
        <h5 class="white-text">LaBooks</h5>
        <p class="grey-text text-lighten-4">This is made for control libraries in labratory.</p>
        <div class="footer-copyright">
    <div class="container">
      <i class="fa fa-copyright"></i> 2017 <a href="https://github.com/xim0608/" class="white-text">xim0608</a>
    </div>
      </div>
    </div>
  </div>
  
  </div>
</footer>
