<ul id="slide-out" class="side-nav">
  <li><div class="userView">
    <div class="background">
      <img src="images/office.jpg">
    </div>
    <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
    <a href="#!name"><span class="white-text name">John Doe</span></a>
    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
  </div></li>
  <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
  <li><a href="#!">Second Link</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>
  <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>

<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a href="<%= books_path %>" class="brand-logo left"><i class="material-icons hide-on-small-only"> book</i> LaBooks</a>
      <ul class="right">
        <li><a href=""><i class="material-icons">search</i></a></li>
        <li><a href="<%= show_all_books_path %>" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Show All Books"><i class="material-icons">view_module</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
        <li><a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a></li>
      </ul>
    </div>
  </div>
</nav>

<script text="javascript/text">
  $(".button-collapse").sideNav();
</script>