<h2><%= @user.nickname %>さんの借りている本</h2>

<% if @rental_books.present? %>
    <table class="striped highlight">
      <thead>
      <tr>
        <th>借りた本</th>
      </tr>
      </thead>
      <tbody>
      <% @rental_books.each do |rental_book| %>
          <tr><td><%= rental_book.book.name %></td></tr>
      <% end %>
      </tbody>
    </table>
<% end %>
