$(document).on('turbolinks:load', function (e) {
    $.ajax({
        url: '<%= show_review_books_path %>?book_id=<%= @book.id %>',
        dataType: 'json',
        success: function (json) {
            if (Object.keys(json).indexOf("url") >= 0) {
                $("#review").html(`<div class="iframe-content"><iframe src="" frameborder="0" height="500" width="800"></iframe></div>`)
            } else {
                $("#review-error").html("<div class='card-panel red lighten-4'><span class='red-text'>レビューの読み込みに失敗しました</span></div>")
            }
        }
    })
});