<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのメールアドレスは次のメールアドレスに変更されます: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>あなたのメールアドレスは次のメールアドレスに変更されました: <%= @resource.email %>.</p>
<% end %>
