<p>こんにちは <%= @resource.name %>!</p>

<p>パスワードのリセットが申請されました。以下のリンクよりパスワードを変更してください。</p>

<p><%= link_to 'パスワードの変更はこちら', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし、あなたがこのリクエストを送信していなければ、管理者に連絡してください。</p>
